
ipywidgets==7.7.1
jupyter-server==1.18.0
jupyterlab-server==2.14.0
jupyterlab-widgets==1.1.1
matplotlib==3.5.2
nbconvert==6.5.0
numpy==1.23.0
pandas==1.4.3
pandas-flavor==0.3.0
Pillow==9.2.0
pingouin==0.5.2
plotly==5.7.0
pytz==2022.1
pyvttbl==0.5.2.2
pywin32==302
scikit-learn==1.0.2
scipy==1.8.1
seaborn==0.11.2
statsmodels==0.13.2
voila==0.3.5
widgetsnbextension==3.6.1

